body {
	font-family: 'Dosis', sans-serif;
	background-color: rgb(34, 34, 34);
	text-align: center;
	color: #79170A;
}


h1 {
	font-family: 'Trade Winds', cursive;
	font-size: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-shadow: 6px 5px 5px #000000;}

p {
	color: lightgrey;
	font-size: 20px;
}

#main {
	display: flex;
}

#map {
	display: flex;
	flex-wrap: wrap;
	/*border: 1px solid black;*/
	min-width: 432px;
	max-width: 432px;
	/*margin: 0 auto;*/
}

.square {
	border: 1px solid white;
	background-color: lightgrey;
	width: 50px;
	height: 50px;
	margin: 1px;
}

#top-left {
	border-top-left-radius: 30px;
}

#top-right {
	border-top-right-radius: 30px;
}

#bottom-left {
	border-bottom-left-radius: 30px;
}

#bottom-right {
	border-bottom-right-radius: 30px;
}

#exit {
	/*background-color: rgb(34, 34, 34);*/
	border-right: 1px solid rgb(34, 34, 34);
	border-left: 1px solid rgb(34, 34, 34);	
	border-top: 1px solid #79170A;
	border-bottom: 1px solid #79170A;
}

.wall {
	background-image: url("images/mario-brick.png");
	/*background-color: #79170A;*/
	border: 1px solid #79170A;

}

#level {
    display: grid;
    margin: 0 auto;
    align-content: space-around;
    width: 350px;
}

#message {
	font-family: 'Dosis', sans-serif;
	width: 350px;
	margin: 0 auto;
	text-align: left;
	padding: 15px;
}

button {
	font-family: 'Dosis', sans-serif;
	width: 104px;
	height: 52px;
	font-size: 15px;
	border-radius: 10px;
	margin: auto;
}

#instructions {
    font-family: 'Dosis', sans-serif;
    width: 104px;
    height: 25px;
    font-size: 12px;
    border-radius: 10px;	
}

span {
	color: #E74C3C;
}













