body {
	background-color: rgb(34, 34, 34);
	text-align: center;
	color: #79170A;
	font-family: 'Londrina Solid', cursive;
}


h1 {
	font-family: 'Trade Winds', cursive;
	font-size: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-shadow: 6px 5px 5px #000000;}


p {
	color: #989494;
	font-size: 20px;
}

#main {
	display: flex;
}

#map {
	display: flex;
	flex-wrap: wrap;
	min-width: 432px;
	max-width: 432px;
}

.square {
	border: 1px solid white;
	background-color: lightgrey;
	width: 50px;
	height: 50px;
	margin: 1px;
}

#exit {
	border-right: 1px solid #79170A;
	border-left: 1px solid white;	
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.wall {
	background-image: url("images/mario-brick.png");
	border: 1px solid #79170A;

}

#level {
    display: grid;
    margin: 0 auto;
    align-content: space-around;
    width: 350px;
}

#message {
	width: 350px;
	margin: 0 auto;
	text-align: inherit;
	padding: 15px;
}

#message p {
	margin: 94px auto;

}

button {
	font-family: 'Londrina Solid', cursive;
	width: 104px;
	height: 52px;
	font-size: 15px;
	border-radius: 10px;
	margin: auto;
}

#instructions {
	font-family: 'Londrina Solid', cursive;
    width: 104px;
    height: 25px;
    font-size: 12px;
    border-radius: 10px;
    display: block;	
}

#red {
	color: #E74C3C;
}













